body {
  font-family: lato, Roboto;
  font-weight: 600;
  font-style: normal;
  /* font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  display: block;
  background: #ebebd3;
  font-size: 75%;
}
@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-primary: oklch(49.77% 0.0725 49.94);
  --color-secondt: oklch(60.32% 0 0);
  --color-green: oklch(49.06% 0.1602 141.31);
  --color-folder: oklch(88.73% 0.1903 107.1);
  --color-tertiaire: oklch(93.37% 0.0317 107);
  --color-default: oklch(88.53% 0 0);
  --text-normal: 1.125rem;
  --text-middle: 1.25rem;
  --text-lg: 2rem;
  --color-background-primary: #ebebd3;
}

.side-icon {
  font-size: 35px;
}
/* annimation  */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.slide-in-right {
  animation: slideInRight 0.3s ease-out;
}

/* Animation fade in/out */
.fade-in {
  animation: fadeIn 0.3s forwards;
}

.fade-out {
  animation: fadeOut 0.3s forwards;
}
.editable {
  /* cursor: url("./assets/icon/pencil.svg") 4 0, pointer; */
  cursor: pointer;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

.mon-element {
  opacity: 0.5; /* 50% */
}
@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.25s ease-out forwards;
}
